# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/classes/application.properties
target/SampleApplication-0.0.1-SNAPSHOT.jar.original
target/surefire-reports/com.ss.hazelcast.SampleApplication.SampleApplicationTests.txt
target/surefire-reports/TEST-com.ss.hazelcast.SampleApplication.SampleApplicationTests.xml
target/SampleApplication-0.0.1-SNAPSHOT.jar.original
target/SampleApplication-0.0.1-SNAPSHOT.jar.original
target/surefire-reports/com.ss.hazelcast.SampleApplication.SampleApplicationTests.txt
target/surefire-reports/TEST-com.ss.hazelcast.SampleApplication.SampleApplicationTests.xml
.idea/libraries/Maven__com_hazelcast_hazelcast_4_0_3.xml
.idea/libraries/Maven__com_google_guava_guava_19_0.xml
.idea/libraries/Maven__com_hazelcast_hazelcast_4_0_3.xml
.idea/libraries/Maven__org_apache_calcite_avatica_avatica_core_1_16_0.xml
.idea/libraries/Maven__org_apache_calcite_calcite_core_1_23_0.xml
.idea/libraries/Maven__org_apache_calcite_calcite_linq4j_1_23_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_10.xml
.idea/libraries/Maven__org_codehaus_janino_commons_compiler_3_1_2.xml
.idea/libraries/Maven__org_codehaus_janino_janino_3_1_2.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_14.xml
SampleApplication.iml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_4_4.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_3_12_8.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_18.xml
.idea/libraries/Maven__com_google_api_grpc_proto_google_common_protos_1_17_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_0.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_30_1_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_12_0.xml
.idea/libraries/Maven__com_hazelcast_hazelcast_4_2.xml
.idea/libraries/Maven__com_hazelcast_hazelcast_jdbc_4_2.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_4_5.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_4_52.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_12_0.xml
.idea/libraries/Maven__com_hazelcast_hazelcast_4_2.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_4_5.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_4_52.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_grpc_4_5.xml
.idea/libraries/Maven__com_hazelcast_jet_hazelcast_jet_python_4_5.xml
.idea/libraries/Maven__io_grpc_grpc_context_1_34_0.xml
.idea/libraries/Maven__io_grpc_grpc_core_1_34_0.xml
.idea/libraries/Maven__io_grpc_grpc_netty_shaded_1_34_0.xml
.idea/libraries/Maven__io_grpc_grpc_protobuf_1_34_0.xml
.idea/libraries/Maven__io_grpc_grpc_protobuf_lite_1_34_0.xml
.idea/libraries/Maven__io_grpc_grpc_stub_1_34_0.xml
.idea/libraries/Maven__io_micrometer_micrometer_core_1_5_1.xml
.idea/libraries/Maven__io_micrometer_micrometer_core_1_5_12.xml
.idea/libraries/Maven__io_perfmark_perfmark_api_0_19_0.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_22.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_11.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_5_02.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_18.xml
.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_6_2.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_3_3.xml
.idea/libraries/Maven__org_mockito_mockito_core_3_3_32.xml
.idea/libraries/Maven__org_mongodb_mongo_java_driver_3_12_82.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_02.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_2_3_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_actuator_autoconfigure_2_3_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_3_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_2_3_1_RELEASE2.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE2.xml
.idea/libraries/Maven__org_springframework_spring_context_5_15_11.xml
.idea/libraries/Maven__org_springframework_spring_context_5_2_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_7_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jcl_5_2_7_RELEASE2.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_5_2_7_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring5_3_0_11_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring5_3_0_11_RELEASE2.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_02.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_3_1_RELEASE2.xml
.idea/libraries/Maven__org_springframework_spring_context_5_15_11.xml
SampleApplication.iml
target/classes/hazelcast.xml
target/classes/python-src/take_sqrt.py
